<mat-toolbar color="primary">

  <mat-toolbar-row>
    <a mat-button class="navbar-link" routerLink=".">Flashcards</a>
    <span class="navbar-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>add</mat-icon>
        <span>Create Flashcard Set</span>
      </button>
      <button mat-menu-item>
        <mat-icon>folder</mat-icon>
        <span>My Flashcard Sets</span>
      </button>
      <button mat-menu-item>
        <mat-icon>account_box</mat-icon>
        <span>My Account</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>

</mat-toolbar>
